.container {
    /* See paneb scrolli blokki!! */
    position: fixed; 
    overflow-y: scroll;
    top: 0; right: 0; bottom: 0; left: 0; 
}

svg path:hover {
    fill: blue;
}

.countryDiv {
    display: flex;
    position: absolute;
    top: 50px;
    left: 100px;
    height: 100px;
    width: 100px;
}

